/*
	Written by Alexander Mainzer w3EDV <info@w3edv.de>
	(c)2012 Alexander Mainzer, All Rights Reserved
*/

.repository_panel button, .engine_panel select {
        margin-left: 3px;
        vertical-align: middle;
        line-height: 15px;
        margin: 0 0 3px 3px;
}

.repository_panel input {
        width: 310px;
        font-size: 9px;
        height: 18px;
        padding: 0;
        line-height: 15px;
}

.repository_panel fieldset {
        line-height: 1em;
        border: 1px solid #C0C0C0;
        margin: 5px;
        padding: 5px;
        width: 95%;
}

.repository_panel fieldset, .repository_panel legend {
        text-align: left;
}

.repository_panel li {
	margin-left: 30px;
	list-style-type: square
}

